.todoItem{
display: flex;
    justify-content: space-between;
    color:#000000;
    font-size: 20px;
}
.removeButton{
    width: 32px;
    height: 32px;
    background-color: rgba(28,28,28,0);
    background-image: url("../../assets/delete .png");
    border:none;
}
.removeButton:hover,.canselButton:hover {
    background-color: rgba(28,28,28,0);
    transform: scale(1.2);
}
.canselButton{
    width: 32px;
    height: 25px;
    background-color: rgba(28,28,28,0);
    background-image: url("../../assets/png.png");
    background-size: contain;
    background-repeat: no-repeat;
    border:none;
    position: relative;
    bottom: 3px;
}
.done{
    text-decoration: line-through;
}
.important{
    color:#bc1111;
    font-weight: bold;
    font-style: italic;
}
@media screen and (max-width:700px) {
    .todoItem{
        font-size: 15px;
    }
    .removeButton {
        background-size: cover;
        height: 28px;
    }
    .canselButton {
        background-size: contain;
        height: 20px;
        width: 20px;
        bottom: 0;
    }
    .buttonsWrapper{
        margin-top: -10px;
    }
}