.app {
    height: 100vh;
    background-image: url("../../assets/letters-pens-pen-75704.jpg");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #513623;
}
button{
    background-color: #967d5e;
    color:#ffffff;
    border-color: #d7ac8e;
    border-image: none;
}
button:hover{
    background-color: #513623;
    color:#967d5e;
    cursor: pointer;
}